.title-test4{
  font-weight: 400;
  color: #EC2227;
  font-size: 35pt;
}
.text-test{
  display: block;
  font-size: 16pt;
}
.title-test-primary{
  font-size: 35pt;
  font-weight: 600;
}
.wallpaper-login{
  background: #EC2227;
}
.btn-primary-test{
  background: #EC2227;
  padding: 10px 30px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn-second-test{
  background: #FFFFFF;
  color: #EC2227;
  padding: 10px 30px;
  font-weight: 600;
}
